.THIS .hide{
    display:none
}
.THIS .cart-page {
    padding:15px 0;
}
.THIS .cart-page h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin: 0 0 20px;
}
.THIS .cart-details {
    display: flex;
    align-items: flex-start;
}
.THIS .cart-details .cart-head {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}
.THIS .cart-details .items-details {
    width: 75%;
    padding-right: 20px;
}
.THIS .summary-details {
    background: #e1e1e1;
    padding: 15px;
    text-align: center;
    width: 25%;
}
.THIS .shipping-progress {
    margin: 0 0 25px;
}
.THIS .shipping-progress .shipping-title {
    display: block;
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: normal;
}
.THIS .shipping-progress .shipping-title .shipping-status {
    color: #003567;
    font-weight: bold;
    text-transform: uppercase;
}
.THIS .summary-details .title{
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 15px;
    display: block;
}
.THIS .order-summary-list {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}
.THIS .order-summary-list li {
    display: flex;
    margin: 0 0 8px;
}
.THIS .order-summary-list li .sub-title {
    flex-grow: 1;
    padding: 0 5px 0 0;
    text-align: left;
}
.THIS .order-summary-list li.totals {
    font-weight: bold;
}
.THIS .summary-details .btn-default{
    display: block;
    text-decoration: none;
}
.THIS .progress-bar {
    width: 100%;
    height: 5px;
    position: relative;
    background: #fff;
}
.THIS .progress-bar .status {
    position: relative;
    height: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    background: #003567;
}
/*line item*/
.THIS .line-item {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;
}
.THIS .line-item .col {
    width: 33.333%;
    padding: 0 5px;
}
.THIS .line-item dl {
    overflow: hidden;
}
.THIS .line-item dl dt {
    font-weight: bold;
    width: 70%;
    float: left;
    margin: 0 0 5px;
}
.THIS .line-item dl dd {
    overflow: hidden;
    margin: 0 0 5px;
}
.THIS .line-item dl sup {
    margin: -2px 0 0;
    vertical-align: top;
    display: inline-block;
    font-size: 75%;
}
.THIS .line-item .form-control {
    width: 100%;
    outline: none;
    resize: none;
    height: 38px;
    color: #000000;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 0 0 15px;
}
.THIS .line-item textarea.form-control {
    height: 160px;
}
.THIS .saved-lists {
    background: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    position: relative;
}
.THIS .saved-lists .saved-opener {
    padding: 10px;
    display: block;
    color: #003567;
    text-decoration: none;
    margin: 0 0 -3px;
}
.THIS .saved-lists .saved-opener span:before {
    color: #003567;
    display: block;
    margin: 0 0 0 2px;
    transition: all 0.3s ease-in-out;
}
.THIS .saved-lists .saved-opener.active span:before {
    transform: rotate(90deg);
}
.THIS .saved-lists .dropdown {
    display: none;
    padding: 0 10px;
    position: absolute;
    left: -1px;
    width: 420px;
    top: calc(100% - 1px);
    border: 1px solid #7d7d7d;
    background: #fff;
    z-index: 2;
    max-height: 407px;
    overflow: auto;
}
.THIS .dropdown .slds-table_bordered {
    border: 0;
    color: #000;
    font-size: 13px;
}
.THIS .dropdown .slds-cell-fixed {
    position: static;
}
.THIS .dropdown .slds-table thead th {
    color: #000;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}
.THIS .dropdown .slds-truncate a{
    color: #000;
}
.THIS .dropdown .slds-table thead th .slds-cell-fixed {
    padding: 15px 0; 
}
.THIS .dropdown .slds-table_bordered tbody td {
    padding: 15px 0;
    border: 0;
    min-height: 61px;
}
.THIS .dropdown .slds-table_bordered tbody td:last-child {
    text-align: right;
}
.THIS .dropdown .slds-table_bordered tbody tr:hover td {
    box-shadow: none;
    background: none;
}
.THIS .dropdown .slds-table_bordered tbody tr + tr td {
    border-top: 1px solid #dcdcdc;
}
.THIS .edit-item {
    position: relative;
    margin: 2px 0 0;
}
.THIS .edit-item .edit-dropdown {
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 100%;
    width: 300px;
    display: flex;
    margin-top: 2px;
    z-index: 1;
    border: 1px solid #1e1e1e;
}
.THIS .edit-item .edit-dropdown .slds-form-element__control {
    padding: 0 10px 0 0;
}
.THIS .edit-item .edit-dropdown .slds-input {
    height: 40px;
}
.THIS .edit-item .edit-dropdown .btn-default {
    min-width: 90px;
    text-align: center;
    border-radius: 3px;
}
.THIS .edit-item .edit-dropdown .slds-form-element__label:empty {
    display: none;
}
.THIS .greyOut{    
   pointer-events: none; 
   background: #CCC; 
   color: #333; 
   border: 1px solid #666 
}
.THIS.slds-hidden {
    display: none;
}
.THIS .slds-is-relative {
    z-index:1;
}
.THIS.catalog-results {
    display: flex;
}
.THIS .search-results {
    padding: 0 0 0 15px;
}
.THIS .prev,
.THIS .next {
    width: 31px;
    height: 33px;
    border: 0;
    background: #000;
    color: #fff;
    border-radius: 0;
    position: relative;
    padding:0;
    font-size: 0;
    line-height: 0;
}
.THIS .prev:before,
.THIS .next:after {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    position: absolute;
    font-size: 20px;
    line-height: 32px;
}
.THIS .next:after {
    content: "\f054";
}
.THIS .items-count {
    text-align: right;
    padding: 0 10px;
}
.THIS .paging a{
    color: #000;
}
.THIS .paging b a {
    margin: 0 3px;
    text-decoration: underline;
}
.THIS .custom-select {
    display: inline-block;
    vertical-align: middle;
    width: 98px;
}
.THIS .custom-select select {
    width: 100%;
    min-width: 100%;
    padding: 5px 15px 5px 5px;
}
.THIS .custom-select.num {
    width: 60px;
    margin: 0 0 0 8px;
}
.THIS .custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin:0 15px 0 0;
}
.THIS .checkbox-row {
    display: flex;
}
.THIS .select-row {
    display: flex;
    justify-content: flex-end;
}
.THIS .print-list {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}
.THIS .print-list li + li:before {
    content:"|";
    margin: 0 5px;
}
.THIS .export-options {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}
.THIS.slds-is-relative {
    margin: 0 0 15px;
}
.THIS .export-options .sub-title {
    padding: 0 3px 0 15px;
}
.THIS .export-options a{
    color: #000;
    text-decoration: underline;
}
.THIS.items-head td {
    padding: 15px 0;
}
.THIS .slds-table {
    border: 1px solid #e1e1e1;
}
.THIS .slds-table thead th {
    vertical-align: top;
}

.THIS .slds-table thead th {
    width: 35px;
}

.THIS .slds-table thead th:first-child {
    max-width: 10px;
}
.THIS .slds-table thead th:nth-child(2) {
    max-width: 30px;
}
.THIS .slds-table thead th:nth-child(8)  {
    width: 130px;
}
.THIS .slds-table tbody td,
.THIS .slds-table thead th {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    padding: 5px 12px 5px 0;
    border-top: 0;
}
.THIS .slds-table thead th {
    padding: 15px 10px;
    border-bottom: 1px solid #e1e1e1;
}
.THIS .slds-table thead th .slds-th__action {
    padding: 0;
    height: auto;
   /* white-space: normal;*/
}
.THIS .slds-table tbody td {
    font-weight: 400;
    padding: 10px 5px;
}
.THIS .slds-table tbody td.slds-cell-edit {
    padding-left: 10px;
}
.THIS .slds-table tbody tr:hover td {
    background: #fff;
    box-shadow: none !important;
}
.THIS .slds-table tbody tr + tr td {
    border-top: 1px solid #e1e1e1;
}
.THIS .slds-table .uiInput--textarea.textarea:focus,
.THIS .slds-table .uiInput--textarea.textarea:active {
    border-color: #d4d4d4;
    box-shadow: none;
}
.THIS .slds-cell-edit .slds-popover {
    width: 70px;
    box-shadow: none;
    border-radius: 0;
    position: static !important;
    border: 0;
}
.THIS .slds-cell-edit .slds-popover input {
    text-align: center;
    border-radius: 0;
    border-color: #e1e1e1;
    outline: none;
}
.THIS .slds-popover_edit .slds-popover__body {
    padding: 0;
}
.THIS .slds-popover .slds-form-element__control button {
    border: 0;
    color: #000;
    outline: none;
}
.THIS .slds-popover .slds-form-element__control button:focus{
    box-shadow: none;
}
.THIS .slds-popover .slds-form-element__control .slds-input__button_decrement {
    left: 5px;
}
.THIS .slds-popover .slds-form-element__control .slds-input__button_increment {
    right: 5px;
}
.THIS .search-selects-footer {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(188,186,186,1) 0%, rgba(225,225,225,1) 100%);
}
.THIS .search-selects-footer .btn-default {
    border-radius: 0;
    margin:0 5px;
    font-size: 12px;
}
.THIS .search-selects-footer .slds-button_neutral:hover {
    color: #fff;
    background: #003567;
}
.THIS .search-selects-footer .btn-default.clear {
    background: #7d7d7d;
}
.THIS .items-summary {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.THIS .items-summary li {
    padding: 0 10px;
    position: relative;
}
.THIS .items-summary li + li:before {
    content: "|";
    position: absolute;
    left: 0;
    top: 0;
}
.THIS .filters-selected {
    padding: 8px;
    margin: 20px 0;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #7d7d7d;
}
.THIS .filters-selected .title {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    background: #fff;
    margin: -20px 0 20px;
}
.THIS .filters-selected .links-area {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    padding: 0 0 0 20px;
}
.THIS .filters-selected .links-area .btn-default {
    border-radius: 0;
    position:relative;
    padding: 7px 15px;
}
.THIS .filters-selected .links-area .btn-default:before {
    content: "\f005";
    font-family: "Font Awesome 5 Pro";
    margin: -2px 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.THIS .filters-selected .links-area .clear-all {
    color: #7d7d7d;
    font-weight: 500;
    margin: 0 0 0 15px;
    text-decoration: underline;
}
.THIS .filters-selected .filters-content {
    display: flex;
    align-items: flex-start;
    margin: -15px 0 0;
}
.THIS .tags-list {
    list-style: none;
    padding: 7px 0 0 0;
    margin: 0 -8px;
    display: inline-flex;
    flex-flow: row wrap;
    font-weight: 500;
    flex-grow: 1;
    flex-basis: 0;
}
.THIS .tags-list li {
    padding: 4px 8px;
}
.THIS .tags-list li a {
    color: #000;
    margin: 0 0 0 5px;
}
.THIS.print-modal .slds-modal__container{
    max-width: 595px;
    min-width: inherit;
    width: auto;
    padding: 10px;
}
.THIS.print-modal .slds-modal__header {
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 0 10px;
    margin: 0 0 20px;
}
.THIS.print-modal .slds-modal__close {
    position: static;
    float: right;
    margin: -5px 0 0;
}
.THIS.print-modal .slds-modal__close .slds-button_icon-inverse {
    color: #000;
    width: 20px;
    height: 20px;
}
.THIS.print-modal .slds-theme_default {
    padding: 15px;
}
.THIS.print-modal .slds-modal__title {
    color: #333;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.THIS.print-modal .btn-default {
    border-radius: 0;
}
.THIS.print-modal .slds-modal__content:last-child {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}
.THIS .order-info {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    flex-grow: 1;
}
.THIS .order-info .title {
    color: #003567;
    font-size: 20px;
    line-height: 22px;
}
.THIS .order-info .item-numbers {
    font-size: 20px;
    line-height: 22px;
    padding: 0 5px;
}
.THIS .order-info .edit {
    color: #003567;
    margin: 0 8px;
}
.THIS .cart-import-export {
    display: flex;
}
.THIS .cart-import-export li + li:before {
    content: "|";
    margin: 0 8px;
    color: #000;
}
.THIS .cart-import-export li a {
    color: #000;
}
/*order alerts*/
.THIS .order-alerts {
    padding: 15px;
    background: #fefcf3;
    border-top: 1px solid #e1e1e1;
}
.THIS .order-alerts h2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px;
}
.THIS .order-alerts h2 span {
    margin: 0 10px;
    text-decoration: underline;
}
.THIS .order-alerts h2:after,
.THIS .order-alerts h2:before {
    content: "!";
    color: #e9cd0e;
    font-weight: 900;
}
.THIS .alerts-accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -0.32em;
}
.THIS .alerts-accordion > li {
    margin: 0 5px 10px;
    background: #fff;
    width: calc(50% - 10px);
    border: 1px solid #e1e1e1;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
}
.THIS .alerts-accordion .opener {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px 40px 10px 10px;
    position: relative;
    text-decoration: none;
}
.THIS .alerts-accordion .opener:after {
    content: "+";
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 25px;
}
.THIS .alerts-accordion .opener.active:after {
    content: "--";
    top: 13px;
    right: 13px;
    letter-spacing: -2px;
}
.THIS .alerts-accordion .opener .icon {
    width: 26px;
}
.THIS .alerts-accordion .opener .title {
    padding: 0 0 0 8px;
}
.THIS .alerts-accordion .opener .title:after {
    content: "|";
    margin: 0 5px;
}
.THIS .alerts-accordion .line-items-content {
    display: none;
    padding: 10px;
    font-size: 10px;
    line-height: 14px;
}
.THIS .alerts-accordion .items-list {
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
}
.THIS .alerts-accordion ul.items-list li:nth-of-type(1n+4) {display: none;}
.THIS .alerts-accordion ul.items-list.ShowAll li:nth-of-type(1n+4) {display: block;}
.THIS .alerts-accordion .show-more {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
.THIS .alerts-accordion .show-more:before {
    content: "+";
    margin: 0 3px 0 0;
}
.THIS .alerts-accordion .show-less:before {
    content: "-";
    margin: 0 3px 0 0;
}
.THIS .order-tabs {
    padding: 8px 10px;
    background: #fefcf3;
    border: 1px solid #e1e1e1;
}
.THIS .tabset {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    border-bottom: 1px solid #e1e1e1;
}
.THIS .tabset li {
    margin: 0 5px 0 0;
}
.THIS .tabset li:last-child {
    margin: 0;
}
.THIS .tabset li a {
    width: 26px;
    display: block;
    text-decoration: none;
    padding: 0 0 3px;
    margin: 0 0 -1px;
    border-bottom: 2px solid transparent;
}
.THIS .tabset li.active a {
    border-bottom-color: #000;
}
.THIS .tabset li img {
    width: 100%;
    height: auto;
}
.THIS .order-tabs .tab-pane {
    display: none;
}
.THIS .order-tabs .tab-pane.tab-active {
    display: block;
}
.THIS .order-tabs .inner-content {
    display: flex;
    padding: 5px 0;
}
.THIS .order-tabs .title:before {
    content: "!";
    color: #e9cd0e;
    font-weight: 900;
    margin: 0 5px 0 0;
}
.THIS .order-tabs .inner-content p {
    margin: 0;
}
.THIS .order-tabs .inner-content p:before {
    content: "|";
    margin: 0 5px;
}
.THIS .order-tabs .inner-content .link {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
.THIS .order-tabs .inner-content .link:before {
    content: "|";
    margin: 0 5px;
    font-weight: normal;
    pointer-events: none;
}
.THIS .table-selector {
    list-style: none;
    margin: 0;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #e1e1e1;
}
.THIS .table-selector li {
    margin: 0 15px 0 0;
}
.THIS .table-selector a {
    color: #000;
    text-decoration: none;
}
.THIS .table-selector a.delete {
    color: #003567;
}
.THIS .table-selector a i {
    font-weight: normal;
}
.THIS .table-selector .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    color: #000;
}
.THIS .slds-modal__footer .btn-default {
    min-width: 100px;
    border-radius: 0;
}
@media only screen and (max-width: 1299px) {
    .THIS.catalog-results {
        display: block;
    }
    .THIS .search-results {
        padding: 0;
    }
}
@media only screen and (max-width: 991px) {
    .THIS .search-results {
        overflow-x: auto;
    }
    .THIS .search-results-wrap {
        min-width: 935px;
        overflow: hidden;
    }
}